.course-management {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 30px 40px;
}

.management-text {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  color: #672c84;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.course-and-student {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  column-gap: 550px;
}

.course-student-btn {
  color: #646464;
  font-weight: 600;
  font-size: 24px;
  outline: none;
  position: relative;
  transition: 0.3s;
  padding: 10px;
  font-weight: bold;
}

.course-student-btn.active {
  color: #af2035;
}

.course-student-btn:before {
  content: '';
  border-bottom: 3px solid #646464;
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  transition: 0.3s;
}

.course-student-btn.active:before {
  border-bottom: 3px solid #af2035;
}

.course-student-btn:hover:before {
  width: 100%;
  padding: 0;
}

.course-student-btn:active {
  background: #646464;
  color: white;
  transition: none;
}

.course-student-btn.active:active {
  background: #af2035;
}

.create-course {
  margin: 38px 85px 0;
  padding: 0 115px 60px;
  border-bottom: 2px solid #a2842a;
  position: relative;
}

.create-course__section {
  margin-bottom: 18px;
}

.create-course__section--title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #a2842a;
  margin-bottom: 15px;
}

.create-course__section--input-container {
  display: flex;
  column-gap: 18px;
  row-gap: 23px;
  flex-wrap: wrap;
}

.create-course__section--input-container input[type='text'] {
  background: #fffdf6;
  border: 1px solid #a2842a;
  border-radius: 20px;
  color: #a2842a;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 20px;
  width: 180px;
}

.create-course__section--input-container input[type='text'].long {
  width: 378px;
}

.create-course__section--input-container input[type='text']::placeholder {
  color: rgba(162, 132, 42, 0.6);
}

.create-course__section--input-container .checkbox-container {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 30px;
  background: #fffdf6;
  border: 1px solid #a2842a;
  border-radius: 20px;
  font-weight: 600;
  font-size: 20px;
  color: #a2842a;
}

.create-course__section--input-container .checkbox-container:hover {
  cursor: pointer;
}

.create-course__section--input-container .checkbox-container input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

.create-course__submit-btn {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background-color: #af2035;
  border-radius: 20px;
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  margin-top: 49px;
}

.create-course__submit-btn:hover{
  background-color: #af2035a2;
}

.filter-course {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 60px;
}

.filter-course label {
  display: block;
  font-weight: 600;
  font-size: 22px;
  color: #a2842a;
  margin-bottom: 5px;
}

.filter-course select {
  font-weight: 600;
  font-size: 20px;
  color: #a2842a;
  padding: 14px 21px;
  border: 1px solid #a2842a;
  border-radius: 20px;
}

.filter-course__submit-button {
  font-weight: 600;
  font-size: 18px;
  color: #ffff;
  background: #a2842a;
  border-radius: 20px;
  padding: 14px 21px;
}
.filter-course__submit-button:hover{
  background: #a2842a9a;
}
.course-management__error-msg{
  font-size: 18px;
  color: #f20000;
  margin-top: 30px;
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.filtered-course{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

table{
  width: 900px;
  height: 50px;
  table-layout: fixed;
}

th{
  color: #a2842a;
  font-size: 22px;
  font-weight: 600;
}
th.id{
  width:15%;
}
th.buttoncolumn{
  width:10%;
}
th, td{
  text-align: left;
  border-bottom: 1px solid #a2842a;
  padding: 15px;
  font-size: 22px;
}
button.course_id-btn{
  font-size: 22px;
  border-bottom: 1px solid;
}
button.course_id-btn:hover{
  color: #a2842a;
  border-bottom: 1px solid #a2842a;
}
img.deletebtn{
  width:60%;
  height: 60%;
}
img.deletebtn:hover{
  opacity: 0.7;
}