.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

body{
    background-color: #FFF9EC;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    font-size: calc(10px + 2vmin);
    /* color: white; */
}

header img{
    float:left;
    justify-content: flex-start;
}

/* header h1{
    float: center; 
    align-self: center;
    margin-left: 10px;
} */

.siittext{
    color:#672C84;
}
.academytext{
    color: #AF2035;
}
.loginbutton{
    background-color: white; /* Green */
    border: 4px solid #AF2035;
    border-radius: 12px;
    font-weight: bold;
    color: #AF2035;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    transition-duration: 0.4s;
    
}
.loginbutton:hover{
    background-color: #AF2035;
    color:white;
}
* {box-sizing:border-box}

.longsiit{
    color:#672C84;
}
.longtu{
    color: #AF2035;
}

h2{
    margin-block-start: 0.3em;
    margin-block-end: 0em;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginbox{
    width: 892px;
    height: 362px;
    background-color: #fad9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.loginbox h1{
    margin-top: 52px;
    text-decoration: underline;
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */

    /* font-weight: 500; */
}

.SignInWithGoogleButton{
    margin-top : 30px;
}

.SignInWithGoogleButton a button{
    width: 365px;
    height: 79px;
}