.announcement-container{
  display: flex;
  flex-direction: column;
  justify-content: left;
  background: #F5F5F5;
  border-radius: 20px;
  padding: 15px;
  width: 100%;
}
.announcement-post{
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 10px;
}

.download-work-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #D9D9D9;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  margin-right: 50px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
}
.download-work-btn:hover{
  background: #d9d9d99f;
}