.upload-announcement-container {
  /* temporary style */
  height: 400px;
  border: 1px solid black;
}
.upload-announcement-body{
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-top: 30px;
  padding-bottom: 30px;
}
label[for=upload-announcement-btn]{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label[for=upload-announcement-btn]:hover{
  opacity: 0.5;
}

.upload-announcement-box{
  display: flex;
  background: rgba(103, 44, 132, 0.1);
  border: 1px dashed #672C84;
  border-radius: 8px;
  padding: 20px;
  
}
.upload-announcement-texts{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  justify-content: center;
}
.announcement-left-compartment{
  display: flex;
  flex-direction: column;
  float: left;
  width: 40%;
}
.announcement-right-compartment{
  display: flex;
  flex-direction: column;
  float: right;
  width: 50%;
  padding-left: 48px;
  padding-top: 43px;
}
.clearbtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color:#FFFDF6;
  background: #672C84;
  width:60px;
  text-align: center;
  align-items: center;
  /* padding-left: 5px; */
  border-radius: 8px;
  
}

.confirm-upload{
  padding: 7px 30px;
  color:#FFFDF6;
  background: rgba(175, 32, 53, 0.9);
  border-radius: 8px;
}
