.add-resource {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 30px 40px;
}

.add-resource__title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 65px;
  font-weight: 600;
  font-size: 24px;
  color: #a2842a;
}

.add-resource__container {
  margin: 0 300px;
  display: flex;
  flex-direction: column;
  row-gap: 65px;
}
