.video-player {
  width: 1120px;
  position: relative;
}

.video-player__title {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 20px;
  color: #672c84;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.video-player__title span {
  color: #af2035;
}

.video-player video {
  width: 100%;
  border-radius: 10px;
  background: #c4c4c4;
}

.video-player__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 20px;
  color: #c4c4c4;
}
