@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: #fff9ec;
  line-height: 1.5;
}

button {
  background-color: transparent;
  font-family: inherit;
  border: none;
  color: inherit;
  font-weight: inherit;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type='text'],
textarea {
  font-family: inherit;
}
