.upload-materials {
  /* temporary style */
  height: 400px;
  border: 1px solid black;
}
.upload-material-and-week-selection{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.week-dropdown{
  display: flex;
  flex-direction: column;
}