.upload-materials-container {
  /* temporary style */
  /* height: 400px;
  border: 1px solid black; */
  
}
.upload-material-and-week-selection{
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-top: 30px;
  padding-bottom: 30px;
}
label[for=upload-material-btn]{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label[for=upload-material-btn]:hover{
  opacity: 0.5;
}
/* div[for=upload-material-btn]{
  display: flex;

  background: rgba(103, 44, 132, 0.1);
  border: 1px dashed #672C84;
  border-radius: 8px;
  padding: 20px;
} */
.upload-material{
  display: flex;

  background: rgba(103, 44, 132, 0.1);
  border: 1px dashed #672C84;
  border-radius: 8px;
  padding: 20px;
  
}
.upload-material-texts{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  justify-content: center;
}

.clearbtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color:#FFFDF6;
  background: #672C84;
  width:60px;
  text-align: center;
  align-items: center;
  /* padding-left: 5px; */
  border-radius: 8px;
  
}
.week-dropdown{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.week-dropdown select {
  font-weight: 300;
  font-size: 14px;
  color: #a2842a;
  padding: 7px 20px;
  border: 1px solid #a2842a;
  border-radius: 8px;
}
.confirm-upload{
  padding: 7px 30px;
  color:#FFFDF6;
  background: rgba(175, 32, 53, 0.9);
  border-radius: 8px;
}