.download-btn{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #D9D9D9;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}
button.download-btn:hover{
  background: #d9d9d99f;
}

.course-material-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.material-container{
  display:flex;
  flex-direction: row;
  margin-right: 50px;
}
