.course-material-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.course-material {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 42px;
}

.material-container {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  white-space: nowrap;
  margin-bottom: 20px;
}
span.text{
  display: inline-block;
  white-space: nowrap;
}
.download-btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #d9d9d9;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}
button.download-btn:hover {
  background: #d9d9d99f;
}
